<ion-content  class="background">
  <ion-row style="height: 50px"></ion-row>
  <ion-img    #loadimg src="../../assets/img/logo.jpg"></ion-img>
  <ion-row style="height: 50px"></ion-row>
  <form class="ion-padding" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
    <ion-list >   
      <ion-item >
        <ion-label position="floating">Email</ion-label>
        <ion-input
          formControlName="email"
          required="true"
          type="email"
          placeholder="Email"
        ></ion-input>
        <ion-icon   name="person-outline" slot="start" ></ion-icon>
      </ion-item>
      <div class="validation-errors"> 
        <ng-container *ngFor="let validation of validation_messages.email">
           <!-- formGroup.get('email').hasError(validation.type) && (formGroup.get('email').dirty || formGroup.get('email').touched   || -->
          <div class="error-message" *ngIf="formGroup.get('email').hasError(validation.type) && (formGroup.get('email').dirty ||  emailControl === true)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div> 
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          formControlName="password"
          required="true"
          type="password"
          placeholder="Contraseña"
        ></ion-input>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <!-- formGroup.get('password').hasError(validation.type) && (formGroup.get('password').dirty || formGroup.get('password').touched || -->
          <div class="error-message" *ngIf="formGroup.get('password').hasError(validation.type) && (formGroup.get('password').dirty ||  passwordControl === true)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item lines="none">
        <ion-label>Recordar</ion-label>
        <ion-toggle class="button"></ion-toggle>
      </ion-item>     
        <ion-button expand="full" color="secondary"  type="submit">
          Acceder
        </ion-button>   
    </ion-list>
  </form>

</ion-content>
