ion-content.background{
  --background: url(../../assets/img/background.jpg) 0 0/100% 100% no-repeat;
}
ion-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
vertical-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

ion-content {
  .error-message
  {
    color: red;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .submit-btn {
    margin: 48px 12px 12px;
  }
}